* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    background: linear-gradient(0deg, rgb(40, 83, 224) 0%, rgb(63, 0, 165) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
}

#numeros-validos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    background: #a6deff;
    color: #000;
    gap: 5px;
    text-align: center;
}

.urna {
    background-color: #efefef;
    width: 95%;
    height: 320px;
    max-width: 650px;
    max-height: 400px;
    display: flex;
    padding: 20px 10px;
    gap: 10px;
}

.tela {
    width: 65%;
    border: 3px solid #bebebe;
    font-family: sans-serif;
}

.tela-voto {
    height: 80%;
    font-weight: 400;
    font-size: 16px;
    text-align: start;
    display: flex;
}

.infos {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 3px 0 0 3px;
}

#tx-numero,
#nome,
#partido {
    opacity: 0;
}

#atencao {
    text-align: center;
    font-size: 25px;
    animation: anim 1s ease infinite;
}

.fotos {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 3px;
    z-index: 30;
    opacity: 0.65;
    gap: 5px;
}

#foto1 {
    width: 100%;
    height: 55%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#foto2 {
    width: 100%;
    height: 40%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.numero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.tela-info {
    height: 20%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #000;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    padding: 4px;
}

.tela-info span {
    text-align: center;
}

.num {
    border: 1px solid #333;
    font-size: 20px;
    width: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#num1 {
    animation: anim 1s ease infinite;
}

.tela-gravando {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 600;
    font-size: 30px;
    gap: 20px;
}

.barra {
    width: 80%;
    height: 20px;
    border: 1px solid #222222;
    background-color: #28bd2f;
}

.tela-fim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.fim {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    text-align: center;
}

.votou {
    font-size: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #5e5e5e;
}

.teclado {
    width: 35%;
    background-color: #323232;
}

.texto {
    font-family: sans-serif;
    background-color: #bdbdbd;
    color: #000;
    width: 100%;
    padding: 4px;
    font-size: 15px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.linha {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

button {
    background: #222222;
    color: #fff;
    width: 20%;
    font-size: 25px;
    padding: 0 0 0 3px;
    text-align: start;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #000;
}

.linha button:hover {
    background: #000;
    border-bottom: 2px solid #222222;
    transform: scale(1.02);
}

.linha-acao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 0 5px;
    margin-top: 10px;
}

.linha-acao button {
    width: 33%;
    font-size: 13.5px;
    text-align: center;
    padding: 0 0 19px 0;
    text-transform: uppercase;
    letter-spacing: -0.12em;
    font-weight: 600;
    font-stretch: extra-condensed;
    color: #000;
}

.confirma {
    background-color: #4db152;
    border-bottom: 2px solid #358f39;
}

.confirma:hover {
    background-color: #358f39;
    border-bottom: 2px solid #4db152;
}

.corrige {
    background-color: #fd5722;
    border-bottom: 2px solid #d34b1e;
}

.corrige:hover {
    background-color: #d34b1e;
    border-bottom: 2px solid #fd5722;
}

.branco {
    background-color: #fff;
    border-bottom: 2px solid #bebebe;
}

.branco:hover {
    background-color: #bebebe;
    border-bottom: 2px solid #fff;
}

#reiniciar {
    opacity: 0;
}

#reiniciar button {
    cursor: pointer;
    font-size: 20px;
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 8px;
    width: 100%;
}

#reiniciar button:hover {
    background-color: #000;
    color: #ffffff;
}

@keyframes anim {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.75;
    }

    40% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.25;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    #numeros-validos {
        padding: 5px;
        font-weight: 500;
        font-size: 12px;
        border-radius: 5px;
        gap: 5px;
    }

    .urna {
        max-height: 200px;
        display: flex;
        padding: 8px 6px;
        gap: 6px;
    }

    .tela {
        border: 2px solid #bebebe;
    }

    .tela-voto {
        font-size: 10px;
    }

    .infos {
        gap: 8px;
        padding: 2px 0 0 2px;
    }

    #atencao {
        font-size: 15px;
    }

    .fotos {
        padding: 2px;
    }

    .titulo {
        font-size: 15px;
        margin-bottom: 6px;
    }

    .numero {
        gap: 3px;
    }

    .tela-info {
        font-size: 10px;
        padding: 2px;
    }

    .num {
        font-size: 11px;
        width: 15px;
        height: 20px;
    }

    .fim {
        font-size: 100px;
    }

    .tela-gravando {
        font-size: 15px;
        gap: 10px;
    }

    .barra {
        height: 15px;
    }

    .votou {
        font-size: 20px;
        bottom: 3px;
        right: 3px;
    }

    .botoes {
        gap: 5px
    }

    .linha {
        gap: 4px;
    }

    button {
        font-size: 15px;
    }

    .linha-acao {
        margin-top: 3px;
        gap: 2px;
        padding: 0 2px;
    }

    .linha-acao button {
        letter-spacing: -0.1em;
        font-size: 8px;
    }
}